body {
    margin: 0;
    background-color: rgb(0, 0, 0)
}

nav {
    @include flex(wrap, column, start, center);
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    padding: 0;
    z-index: 900;
    backdrop-filter: blur(8px);

    & .nav-animation {
        @include flex(wrap, column, center, center);
        position: absolute;
        top: 30px;
        display: flex;
        width: 100%;
        height: 50px;
        opacity: 30%;
        z-index: -10;

        & .stripe1, .stripe2, .stripe3 {
            width: 50%;
            left: -100vw;
            height: calc(60px / 3);
            transform: translateX(-150%);
            background-color: $secondary;
            animation: stripe 10s ease-in infinite;
        }
        & .stripe1 {
            animation-delay: .8s;            
        }
        & .stripe2 {
            animation-delay: .3s;            
        }
        & .stripe3 {
            animation-delay: 0s;
        }
    }

    & .nav-wrap {
        @include flex(wrap, row, space-between, center);
        position: relative;
        width: 100%;
        height: 50px;
        gap: 40px;

        & .left {
            width: 20%;
            padding-left: 40px;
            & .logo-wrap {
                position: relative;
                display: flex;
                height: 36px;
                width: min-content;
                & > img {
                    height: 32px;
                }
            }
        }
        & .center {
            @include flex(wrap, row, space-between, center);
            gap: 40px;
            & a {
                font-size: 24px;
                font-weight: 100;
            }
        }
        & .right {
            @include flex(wrap, row, end, center);
            width: 20%;
            gap: 40px;
            padding-right: 40px;
            & .icon-wrap {
                width: 32px;
                height: 32px;
                & > img {
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }

    & .ticker {
        @include flex(nowrap, row, start, center);
        position: relative;
        width: 100%;
        height: 30px;
        margin-top: 0;
        overflow: hidden;
        opacity: 40%;
        z-index: 900;
    
        & .ticker-wrap {
            @include flex(nowrap,row, center, center);
            width: fit-content;
            height: 100%;
            gap: 32px;
            animation: ticker 60s linear infinite;
    
            & .mcl {
                background-color: rgba(192, 124, 0, 0.5);
            }
            & .rbr {
                background-color: rgba(28, 100, 255, 0.5);
            }
            & .rb {
                background-color: rgba(65, 153, 216, 0.5);
            }
            & .fer {
                background-color: rgba(228, 0, 0, 0.5);
            }
            & .mer {
                background-color: rgba(0, 164, 176, 0.5);
            }
            & .alp {
                background-color: rgba(188, 63, 177, 0.5);
            }
            & .am {
                background-color: rgba(5, 137, 29, 0.5);
            }
            & .kk {
                background-color: rgba(76, 191, 0, 0.5);
            }

            & .ticker-live {
                @include flex(nowrap, row, center, center);
                width: fit-content;
                height: 30px;
                font-size: 12px;
                padding: 0 24px;
                margin-left: 50px;
                margin-right: 14px;
                border-left: 5px double white;
                border-right: 5px double white;
                gap: 8px;
            }
    
            & .ticker-pill {
                @include flex(nowrap, row, center, center);
                width: fit-content;
                height: 24px;
                padding: 0 12px;
                border-radius: 50px;
                gap: 12px;
                
                & p {
                    font-family: 'f1-bold';
                    font-size: 12px;
                    color: white;
                }
            }
    
            & .ticker-content {
                @include flex(nowrap, row, center, center);
                width: fit-content;
                height: 24px;
                gap: 8px;
            }
        }
    }
}

@keyframes stripe {
    0% {
        transform: translateX(-100vw);
    }
    10% {
        transform: translateX(100vw);
    }
    100% {
        transform: translateX(100vw);
    }
}

@keyframes ticker {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}